<ion-view view-title="{{status}}">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-back-button class="button-clear">
      <i id="back-button" class="ion-ios-arrow-back"></i> Voltar
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="padding">
    
  	<div class="card">
	  <div class="item">

	    <div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">CPF</span>
		    <input type="text" placeholder="999.999.999-99" ng-model="movimentacao.Cpf" ui-br-cpf-mask ng-change="enableEdit()" ng-disabled="movimentacao.StatusMovimentacaoId != 1">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Nome do Titular</span>
		    <input type="text" placeholder="Fulano" ng-model="movimentacao.NomeTitular" ng-change="enableEdit()" ng-disabled="movimentacao.StatusMovimentacaoId != 1">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Número da Conta</span>
		    <input type="number" placeholder="12345" ng-model="movimentacao.NumeroConta" ng-maxlength="5" ng-change="enableEdit()" ng-disabled="movimentacao.StatusMovimentacaoId != 1">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Total de Créditos</span>
		    <input type="text" placeholder="R$ 1.000,00" ng-model="movimentacao.TotalCreditos" ui-money-mask ng-change="enableEdit()" ng-disabled="movimentacao.StatusMovimentacaoId != 1">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Total de Débitos</span>
		    <input type="text" placeholder="R$ 1.000,00" ng-model="movimentacao.TotalDebitos" ui-money-mask ng-change="enableEdit()" ng-disabled="movimentacao.StatusMovimentacaoId != 1">
		  </label>
		</div>
	  </div>
	</div>

	<div class="row">
		<div class="col">
			<button class="button button-full button-assertive" ng-click="remove()" ng-disabled="movimentacao.StatusMovimentacaoId != 1 && movimentacao.StatusMovimentacaoId != 3">
				<i class="icon ion-ios-trash"></i> Exlcuir
			</button>
		</div>
		<div class="col">
			<button class="button button-full button-balanced" ng-click="save()" ng-disabled="movimentacao.StatusMovimentacaoId != 1 || changedData == false">
				<i class="icon ion-checkmark"></i> Salvar
			</button>
		</div>
	</div>

  </ion-content>
</ion-view>
