<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pie-outline balanced" icon-on="ion-ios-pie balanced" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Movimentações" icon-off="ion-social-usd-outline balanced" icon-on="ion-social-usd balanced" href="#/tab/movimentacoes">
    <ion-nav-view name="tab-movimentacoes"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Envios" icon-off="ion-ios-cloud-upload-outline balanced" icon-on="ion-ios-cloud-upload balanced" href="#/tab/envio">
    <ion-nav-view name="tab-envio"></ion-nav-view>
  </ion-tab>

</ion-tabs>
